<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title th:text="'Detailed view - Vehicle Record - '+${record.id}"></title>
<link rel="stylesheet" type="text/css" th:href="@{/css/dashboard.css}" />

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">


<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker3.css" />

<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
<link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/png">
</head>
<body>

	<div sec:authorize="hasAuthority('ADMIN')">
  		<div th:replace="admin/header :: navbar"></div>
	</div>
	<div sec:authorize="hasAuthority('CLERK')">
	  <div th:replace="clerk/header :: navbar"></div>
	</div>


	<nav class="bodyMargin" aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a th:href="@{/clerk/home}">Home</a></li>
			<li class="breadcrumb-item" aria-current="page"><a
				th:href="@{'/vehicleRecord' (sort=${sortProperty}, order=${order}) }">Vehicle Catalog</a></li>
			<li class="breadcrumb-item active" aria-current="page">View
				Vehicle Details</li>
		</ol>
	</nav>

	<main role="main" class="container">
	 <br />
	<h2>
		Vehicle Detail #<span th:text="${record.id}"> </span>
	</h2>
	<table class="table table-striped">
		<tbody>
			<tr>
				<th>Type</th>
				<td th:text="${record?.type}"></td>
			</tr>

			<tr>
				<th>Make</th>
				<td th:text="${record?.make}"></td>
			</tr>

			<tr>
				<th>Model</th>
				<td th:text="${record?.model}"></td>
			</tr>

			<tr>
				<th>Year</th>
				<td th:text="${record?.year}"></td>
			</tr>

			<tr>
				<th>Color</th>
				<td th:text="${record?.color}"></td>
			</tr>

			<tr>
				<th>License plate number</th>
				<td th:text="${record?.plateNo}"></td>
			</tr>
			
			<tr>
				<th>Availability</th>
				<td th:if="${vehicleAvailability} == true" class="text-success"> Yes </td>
				<td th:if="${vehicleAvailability} == false" class="text-danger"> NO </td>
			</tr>
		</tbody>
	</table>
	<br />
	<nav aria-label="Page navigation example">
		<ul class="pagination">
			<li class="page-item">
			<a class="page-link" th:if= "${previousItem} != -1"
				th:href="@{'/common/vehicleRecord/view/' + ${previousItem} (sort=${sortProperty}, order=${order}) }"> Previous</a></li>
			<li class="page-item"><a class="page-link" th:if= "${nextItem} != -1"
				th:href="@{'/common/vehicleRecord/view/' + ${nextItem} (sort=${sortProperty},  order=${order}) }">Next</a></li>
		</ul>
	</nav>
	
	</main>
</body>


<!-- /.container -->

<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
	integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
	integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
	crossorigin="anonymous"></script>
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script>
	$(document).ready(
			function() {
				var date_input = $('input[name="expiryDate"]'); //our date input has the name "date"
				var container = $('.bootstrap-iso form').length > 0 ? $(
						'.bootstrap-iso form').parent() : "body";
				var options = {
					format : 'mm/dd/yyyy',
					startDate : new Date(),
					todayHighlight : true,
					orientation : "auto",
					autoclose : true,
				};
				date_input.datepicker(options);
			})
</script>
</body>
</html>
