<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Add Reservation</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/dashboard.css}" />

<link
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
	
	

<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
<link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/png">
 
<link href="https://unpkg.com/gijgo@1.9.11/css/gijgo.min.css" rel="stylesheet" type="text/css" />
</head>
<body>

	<div th:replace="clerk/header :: navbar"></div>

	<nav class="bodyMargin" aria-label="breadcrumb">
	  <ol class="breadcrumb">
	    <li class="breadcrumb-item"><a th:href="@{/clerk/home}">Home</a></li>
	    <li class="breadcrumb-item active" aria-current="page">Create Reservation</li>
	  </ol>
	</nav>
	
	<main role="main" class="container">


	
	<h2> Create Reservation</h3>
	
	<br/>
	
	
	<div align="center" th:if="${successMessage}" class="alert alert-success alert-dismissible fade show" role="alert"  th:utext="${successMessage}">
		</div>
	<div align="center" th:if="${errorMessage}" class="alert alert-danger alert-dismissible fade show" role="alert"  th:utext="${errorMessage}">
		</div>
	<form method="post" th:action="@{/clerk/reservation/add}" 
				class="form-signin">
	
				<label class="control-label" for="isRental">Rental or Reservation</label>
				<select name="isRental" class="form-control content" id="isRental" style="min-width:200px;" onchange="report(this.value)" >
							<option value="true">Rental</option>
							<option value="false">Reservation</option>
					</select>
				</br>
				
				<label class="control-label" for="vehicle">Select Vehicle</label>
				<select  class="form-control" name="vehicle" id="vehicle">
				  <option th:each="v : ${vehicles}"
				     th:text="${v.id + ' - ' + v.plateNo +  ' - ' + v.make + ' - ' + v.model + ' - ' + v.color }"
				     th:value="${v.id}"
				     >
				  </option>
				</select>
				
				<br />
				<label class="control-label" for="client">Select Client</label>
				<select class="form-control" name="client" id="client">
				  <option th:each="c : ${clients}"
				     th:text="${c.id + ' - ' + c.firstName +  ' - ' + c.lastName + ' - ' + c.phoneNo }"
				     th:value="${c.id}"
				     >
				  </option>
				</select>
				
				
				<br/>

				<label class="control-label" for="fromDate">From Date</label>
				 <input type="text"  name="fromDate" id="fromDate"
					placeholder="From" autocomplete="off" class="form-control"  required /> <br />
					
					<label class="control-label" for="toDate">To Date</label>
				 <input type="text"  name="toDate" id="toDate"
					placeholder="To" autocomplete="off" class="form-control"  required /> <br />
				<br/>
				
				<button class="btn btn-lg btn-primary btn-block" name="Submit"
				value="Login" type="Submit" th:text="Add"></button>
			
	
	</form>
					
	</form>
	
		

	</main>
	<!-- /.container -->

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
  <script src="https://unpkg.com/gijgo@1.9.11/js/gijgo.min.js" type="text/javascript"></script>
<script>
var picker;

$('#fromDate').datetimepicker({
    uiLibrary: 'bootstrap4',
    modal: false,
    defaultDate: new Date(),
    footer: true,
    datepicker: {
        disableDates:  function (date) {
        	const currentDate = new Date().setHours(0,0,0,0);
            return date.setHours(0,0,0,0) >= currentDate ? true : false;
        }
    },
    onSelect: function(dateStr) 
    {      
    	console.log('a');
        $("#toDate").val(dateStr);
        $("#toDate").datetimepicker("option",{ minDate: new Date(dateStr)})
    },
    format: 'yyyy-mm-dd HH:MM'
});


$("#fromDate").on("close", function(e) {
	var date = $('#fromDate').val();
	var fromDate = new Date(date);
	console.log(fromDate);
	

	if(typeof picker == "undefined")
	{
		console.log("undefined");
	}else{
		picker.destroy();
	}
	
	$('#toDate').datetimepicker({
	    uiLibrary: 'bootstrap4',
	    modal: false,
	    footer: true,
	    format: 'yyyy-mm-dd HH:MM',
	    minDate: new Date(fromDate),
	    datepicker: {
	        disableDates:  function (date) {
	        	const currentDate = fromDate.setHours(0,0,0,0);
	            return date.setHours(0,0,0,0) >= currentDate ? true : false;
	        }
	    }
	});
});


	
function getFormattedDate(){
    var d = new Date();

    d = d.getFullYear() + "-" + ('0' + (d.getMonth() + 1)).slice(-2) + "-" + ('0' + d.getDate()).slice(-2) + " " + ('0' + d.getHours()).slice(-2) + ":" + ('0' + d.getMinutes()).slice(-2);

    return d;
}

function report(v) {
	console.log(v);
	  switch(v) {
	    case "true":
	    	$("#fromDate").val(getFormattedDate());
	    	document.getElementById("fromDate").readOnly = true;
	    	if(typeof picker == "undefined")
	    	{
	    		console.log("undefined");
	    	}else{
	    		picker.destroy();
	    	}
	    	setToDatePicker();
	      break;
	    case "false":
	    	$("#fromDate").val("");
	    	$("#toDate").val("");
	    	//picker.destroy();
	    	document.getElementById("fromDate").readOnly = false;
	      break;
	    }
	  }
report("true");	

function setToDatePicker(){
	var date = getFormattedDate();
	var fromDate = new Date(date);
	picker = $('#toDate').datetimepicker({
	    uiLibrary: 'bootstrap4',
	    modal: false,
	    footer: true,
	    format: 'yyyy-mm-dd HH:MM',
	    datepicker: {
	        disableDates:  function (date) {
	        	const currentDate = fromDate.setHours(0,0,0,0);
	            return date.setHours(0,0,0,0) >= currentDate ? true : false;
	        }
	    }
	});
}

</script>
<script th:src="@{/js/main.js}" > </script>
</body>
</html>
