<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Cancel Reservations</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/dashboard.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
<link
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/filter.css}" />
<link
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
	rel="stylesheet">

<link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/png">

</head>
<style>
table th { user-select: none; background: #eee;}
</style>


<body>

	<div th:replace="clerk/header :: navbar"></div>
	<span class="glyphicon glyphicon-envelope"></span>
	<nav class="bodyMargin" aria-label="breadcrumb">
	  <ol class="breadcrumb">
	    <li class="breadcrumb-item"><a th:href="@{/clerk/home}">Home</a></li>
	    <li class="breadcrumb-item active" aria-current="page">Create Reservation</li>
	  </ol>
	</nav>
	
	<main role="main" class="container-fluid">
	
	<h2> Reservation Catalog </h3>
	
	<br>
		
			
		<div align="center" th:if="${successMessage}" class="alert alert-success alert-dismissible fade show" role="alert"  th:utext="${successMessage}">
		</div>
		
	<table class="table table-bordered" id="filterableTable">
		<thead>
			<tr>
				<th data-sort-prop="id">Id</th>
				<th data-sort-prop="firstName">FirstName</th>
				<th data-sort-prop="lastName">LastName</th>
				<th data-sort-prop="driverLicienceNo">Driver Licence No</th>
				<th data-sort-prop="expiryDate">Expiry Date</th>
				<th data-sort-prop="phoneNo">Phone No</th>
				<th data-sort-prop="color">Color</th>
				<th data-sort-prop="plateNo">Plate No</th>
				<th data-sort-prop="make">Make</th>
				<th data-sort-prop="year">Year</th>
				<th data-sort-prop="fromDateTime">Booking From</th>
				<th data-sort-prop="toDateTime">Booking Due</th>
				<th data-sort-prop="createdOn">Reservation Created</th>
				<th >Cancel Booking</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="record : ${records}">
				<td th:text="${record.id}"></td>
				<td th:text="${record.client.firstName}"></td>
				<td th:text="${record.client.lastName}"></td>
				<td th:text="${record.client.driverLicienceNo}"></td>
				<td th:text="${record.client.expiryDate}"></td>
				<td th:text="${record.client.phoneNo}"></td>
				<td th:text="${record.vehicle.color}"></td>
				<td th:text="${record.vehicle.plateNo}"></td>
				<td th:text="${record.vehicle.make}"></td>
				<td th:text="${record.vehicle.year}"></td>
				<td th:text="${record.fromDateTime}"></td>
				<td th:text="${record.toDateTime}"></td>
				<td th:text="${record.createdOn}"></td>
				
				<td>
					<a					
						th:href="@{'/clerk/reservation/cancel/' + ${record.id} }"> 
						<button type="button" class="btn btn-labeled btn-danger">
						<span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span>Cancel</button>
					</a>
				</td>
						
			</tr>
		</tbody>
	</table>



	</main>
	<!-- /.container -->

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>

	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
		integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
		integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
		crossorigin="anonymous"></script>

	<script th:src="@{/js/filter.js}"> </script>
	<script th:src="@{/js/main.js}" > </script>
<script th:inline="javascript">
    //thymeleaf to javascript variables
    /*<![CDATA[*/
    var sortProperty = /*[[${sortProperty}]]*/ null;
    var sortDesc = /*[[${order}]]*/ null;
  
    /*]]>*/

    $(document).ready(function(){
     //show up/down arrows
     $("table thead th").each(function(){
        var head = $(this);
        if(head.attr('data-sort-prop')==sortProperty){
            head.append(sortDesc == "desc" ? ' <i class="fa fa-sort-desc"></i>' : ' <i class="fa fa-sort-asc"></i>');
        }
        });

     //set click action, reload page on clicking with all query params
     $("table thead th").click(function() {
      var headerSortPropName = $(this).attr("data-sort-prop");
      if(headerSortPropName==undefined){
    	  return;
      }
      if(headerSortPropName==sortProperty){
          window.location.href = window.location.pathname+
          '?sort='+ headerSortPropName+'&order='+
          (sortDesc == "desc" ?'asc':'desc');
          console.log("a");
      }else{
           window.location.href = window.location.pathname+
          '?sort='+ headerSortPropName+'&order=asc';
      }
      });
    });
  </script>
</body>
</html>
