<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Check Vehicle Availability</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/dashboard.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
<link
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/filter.css}" />
<link
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
	rel="stylesheet">

<link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/png">
<link href="https://unpkg.com/gijgo@1.9.11/css/gijgo.min.css" rel="stylesheet" type="text/css" />
</head>
<style>
table th { user-select: none; background: #eee;}
.content {
	margin-right: 20px;
	margin-left: 20px;
	width: 100px;
}

label {
	margin-top:4px;
}
</style>


<body>

	<div th:replace="admin/header :: navbar"></div>
	<span class="glyphicon glyphicon-envelope"></span>
	<nav class="bodyMargin" aria-label="breadcrumb">
	  <ol class="breadcrumb">
	    <li class="breadcrumb-item"><a th:href="@{/admin/dashboard}">Home</a></li>
	    <li class="breadcrumb-item active" aria-current="page">Ongoing Reservations</li>
	  </ol>
	</nav>
	
	<main role="main" class="container-fluid">
	
	<h2> Check Vehicle Availability</h3>

	
	<div class="container">
			<form method="post" id="filterForm" th:action="@{/admin/checkVehicleAvailibility}">
				<div class="row">
					<label class="control-label" for="vehicle">Select Vehicle</label>
				<select class="form-control" name="vehicleId" id="vehicle">
				  <option th:each="t : ${vehicles}"
				     th:text="${t.id + ' - ' + t.plateNo +  ' - ' + t.make + ' - ' + t.model + ' - ' + t.color + ' - ' + t.year }"
				     th:value="${t.id}" th:selected="${vehicleId} == ${t.id}"
				     >
				  </option>
				</select>
				<br/><br/>
				
				<label class="control-label" for="fromDate">From</label>
			 <input type="text" placeholder="From Date" autocomplete="off" id="fromDate" th:value="${fromDate}"
				 name="fromDate"  class="form-control"
				required />
				<br/>
				
				<label class="control-label" for="toDate">To</label>
			 <input type="text" placeholder="To Date" autocomplete="off" id="toDate" th:value="${toDate}" 
				 name="toDate"  class="form-control"
				required />
				
				
			 		<button type="submit" class="btn btn-primary" style="margin-right: 10px; margin-top:20px;" 
					value="Go"> <i class="fa fa-search" aria-hidden="true"></i> Search</button>
					
					<button id="resetButton" type="reset" class="btn btn-primary" onclick="customReset()" style="margin-top:20px;"> 
					<i class="fa fa-refresh" aria-hidden="true"></i> Reset</button>
					
			 				
					
			</div>
			</form>
			</div>

		</div>	
		
		<br/><br/><br/>
		<div th:if="${isVehicleAvailable != null}">
			<div th:if="${isVehicleAvailable} == true" class="text-success">  
				<div align="center" class="alert alert-success alert-dismissible fade show" role="alert"  >
				Vehicle is available.
				</div>
			</div>
			
			<div th:if="${isVehicleAvailable} == false" class="text-danger">  
				<div align="center"  class="alert alert-danger alert-dismissible fade show" role="alert"  >
				Vehicle is not available.
				</div>
			</div>
		</div>
				
		
		</div>
		

	</main>
	<!-- /.container -->

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>

	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
		integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
		integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
		crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
  <script src="https://unpkg.com/gijgo@1.9.11/js/gijgo.min.js" type="text/javascript"></script>
	<script>
	$('#fromDate').datetimepicker({
	    uiLibrary: 'bootstrap4',
	    modal: false,
	    defaultDate: new Date(),
	    footer: true,
	    datepicker: {
	        disableDates:  function (date) {
	        	const currentDate = new Date().setHours(0,0,0,0);
	            return date.setHours(0,0,0,0) >= currentDate ? true : false;
	        }
	    },
	    onSelect: function(dateStr) 
	    {      
	    	console.log('a');
	        $("#toDate").val(dateStr);
	        $("#toDate").datetimepicker("option",{ minDate: new Date(dateStr)})
	    },
	    format: 'yyyy-mm-dd HH:MM'
	});


	$("#fromDate").on("close", function(e) {
		var date = $('#fromDate').val();
		var fromDate = new Date(date);
		console.log(fromDate);
		

		if(typeof picker == "undefined")
		{
			console.log("undefined");
		}else{
			picker.destroy();
		}
		
		$('#toDate').datetimepicker({
		    uiLibrary: 'bootstrap4',
		    modal: false,
		    footer: true,
		    format: 'yyyy-mm-dd HH:MM',
		    minDate: new Date(fromDate),
		    datepicker: {
		        disableDates:  function (date) {
		        	const currentDate = fromDate.setHours(0,0,0,0);
		            return date.setHours(0,0,0,0) >= currentDate ? true : false;
		        }
		    }
		});
	});
	
	function customReset()
	{
	    document.getElementById("filterForm").reset();
		document.getElementById("fromDate").selectedIndex = "";
	    document.getElementById("toDate").value = "";
	
	}

	</script>
</body>
</html>
