<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>


<title>Reservation History</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/dashboard.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
<link
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/filter.css}" />
<link
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
	rel="stylesheet">

<link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/png">
<link href="https://unpkg.com/gijgo@1.9.11/css/gijgo.min.css" rel="stylesheet" type="text/css" />
</head>
<style>
table th { user-select: none; background: #eee;}
</style>


<body>

	<div th:replace="admin/header :: navbar"></div>
	<span class="glyphicon glyphicon-envelope"></span>
	<nav class="bodyMargin" aria-label="breadcrumb">
	  <ol class="breadcrumb">
	    <li class="breadcrumb-item"><a th:href="@{/admin/dashboard}">Home</a></li>
	    <li class="breadcrumb-item active" aria-current="page"> Reservation History </li>
	  </ol>
	</nav>
	
	<main role="main" class="container-fluid">
	
	<h2> Reservation History View </h2>
	
	<br>
	

			<form method="get" id="filterForm" th:action="@{/admin/reservation/historyView}">
					
	<!--				<label for="textinput"><b>Client</b></label> <input id="firstName" style="margin-left: 28px;" name="firstName" th:value="${firstName}"
						type="text">-->
				<div class="row">		
				<div class="col-sm-4">
				<label class="control-label" for="client"><b>Search Transaction History by Client</b></label>
				<select class="form-control" name="client" id="client">
				
				  <option disabled selected value>ANY</option>
				  <option th:each="t : ${clients}"
				     th:text="${t.id + ' - ' + t.firstName +  ' - ' + t.lastName + ' - ' + t.driverLicienceNo + ' - ' + t.phoneNo + ' - ' + client}"
				     th:value="${t.driverLicienceNo}" th:selected="${t.driverLicienceNo} == ${client}"
				     >
				  </option>
				</select>
				</div>
				<div class="col-sm-4">	
				<label class="control-label" for="vehicle"><b>Search Transaction History by Vehicle</b></label>
				<select class="form-control" name="vehicle" id="vehicle">
				
				  <option disabled selected value>ANY</option>
				  <option th:each="t : ${vehicles}"
				     th:text="${t.id + ' - ' + t.plateNo +  ' - ' + t.make + ' - ' + t.color + ' - ' + t.year }"
				     th:value="${t.plateNo}" th:selected="${plateNo} == ${t.plateNo}"
				     >
				  </option>
				</select>
				</div>
				<div class="col-sm-4">
				<label class="control-label" for="textinput"><b>Search Transaction History by Booking Due Date</b></label>
	 			<input type="text"  name="dueDate" id="dueDate"
				placeholder="Due Date" autocomplete="off" class="form-control" th:value="${toDateTime}" /></div>	
				</div>
				<br>
				
				<button type="submit" class="btn btn-primary" style="margin:right = 10px;"
					value="Go"> <i class="fa fa-search" aria-hidden="true"></i> Search</button>
					
					<button id="resetButton" type="button" class="btn btn-primary"  onclick="customReset()"> 
					<i class="fa fa-refresh" aria-hidden="true"></i> Reset</button>
					

		</form>
		
		<br/>
		
		<div align="center" th:if="${successMessage}" class="alert alert-success alert-dismissible fade show" role="alert"  th:utext="${successMessage}">
		</div>
		
		
	<table id="filterableTable" class="table table-bordered">
		<thead>
			<tr>
				<th data-sort-prop="id">Id</th>
				<th data-sort-prop="firstName">First Name</th>
				<th data-sort-prop="lastName">Last Name</th>
				<th data-sort-prop="driverLicienceNo">Driver License No</th>
				<th data-sort-prop="expiryDate">Expiry Date</th>
				<th data-sort-prop="phoneNo">Phone No</th>
				<th data-sort-prop="color">Color</th>
				<th data-sort-prop="plateNo">Plate No</th>
				<th data-sort-prop="make">Make</th>
				<th data-sort-prop="year">Year</th>
				<th data-sort-prop="fromDateTime">Booking From</th>
				<th data-sort-prop="toDateTime">Booking Due</th>
				<th data-sort-prop="updatedOn">Reservation Updated</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="record : ${records}">
				<td th:text="${record.id}"></td>
				<td th:text="${record.firstName}"></td>
				<td th:text="${record.lastName}"></td>
				<td th:text="${record.driverLicienceNo}"></td>
				<td th:text="${record.expiryDate}"></td>
				<td th:text="${record.phoneNo}"></td>
				<td th:text="${record.color}"></td>
				<td th:text="${record.plateNo}"></td>
				<td th:text="${record.make}"></td>
				<td th:text="${record.year}"></td>
				<td th:text="${record.fromDateTime}"></td>
				<td th:text="${record.toDateTime}"></td>
				<td th:text="${record.updatedOn}"></td>
			</tr>
		</tbody>
	</table>



	</main>
	<!-- /.container -->

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>

	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
		integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
		integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
		crossorigin="anonymous"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
  <script src="https://unpkg.com/gijgo@1.9.11/js/gijgo.min.js" type="text/javascript"></script>
	<script th:src="@{/js/filter.js}"> </script>
	<script th:src="@{/js/main.js}" > </script>
	
	<script>
$('#dueDate').datetimepicker({
    uiLibrary: 'bootstrap4',
    modal: false,
    defaultDate: new Date(),
    footer: true,
    datepicker: {
        disableDates:  function (date) {
        	const currentDate = new Date().setHours(0,0,0,0);
            return date.setHours(0,0,0,0) >= currentDate ? true : true;
        }
    },
    onSelect: function(dateStr) 
    {      
    	console.log('a');
        $("#toDate").val(dateStr);
        $("#toDate").datetimepicker("option",{ minDate: new Date(dateStr)})
    },
    format: 'dd-mm-yyyy'
});


$("#dueDate").on("close", function(e) {
	var date = $('#fromDate').val();
	var fromDate = new Date(date);
	console.log(new Date(date));
	
	
	$('#toDate').datetimepicker({
	    uiLibrary: 'bootstrap4',
	    modal: false,
	    footer: true,
	    format: 'dd-mm-yyyy',
	    datepicker: {
	        disableDates:  function (date) {
	        	const currentDate = fromDate.setHours(0,0,0,0);
	            return date.setHours(0,0,0,0) >= currentDate ? true : true;
	        }
	    }
	});
	
});
	
</script>
	
<script th:inline="javascript">
    //thymeleaf to javascript variables
    /*<![CDATA[*/
    var sortProperty = /*[[${sortProperty}]]*/ null;
    var sortDesc = /*[[${order}]]*/ null;
  
    /*]]>*/

    $(document).ready(function(){
     //show up/down arrows
     $("table thead th").each(function(){
        var head = $(this);
        if(head.attr('data-sort-prop')==sortProperty){
            head.append(sortDesc == "desc" ? ' <i class="fa fa-sort-desc"></i>' : ' <i class="fa fa-sort-asc"></i>');
        }
        });

     //set click action, reload page on clicking with all query params
     $("table thead th").click(function() {
      var headerSortPropName = $(this).attr("data-sort-prop");
      if(headerSortPropName==undefined){
    	  return;
      }
      if(headerSortPropName==sortProperty){
          window.location.href = window.location.pathname+
          '?sort='+ headerSortPropName+'&order='+
          (sortDesc == "desc" ?'asc':'desc');
          console.log("a");
      }else{
           window.location.href = window.location.pathname+
          '?sort='+ headerSortPropName+'&order=asc';
      }
      });
    });
  </script>
  <script>
	window.onload = function() {
		  document.getElementById('filterForm').addEventListener('submit', function() {
		    Array.prototype.forEach.call(this.elements, function(el) {
		      el.disabled = el.value == '';
		    });
		  }, false);
		};
		function customReset()
		{
		    document.getElementById("filterForm").reset();
			document.getElementById("client").selectedIndex = 0;
		    document.getElementById("dueDate").value = "";
			document.getElementById("vehicle").selectedIndex= 0;
		}
	
			
		</script>
</body>
</html>
