<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	>

<head>
<title>Change Password</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/dashboard.css}" />
<link
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
</head>

<body>


<div sec:authorize="hasAuthority('CLERK')" th:replace="clerk/header :: navbar"></div>

<br/><br/><br/>
	<main role="main" class="container">

	<div class="starter-template container" style="width:500px;">
		<h1>Change Password</h1>

		<div align="center" th:if="${successMessage}">
			<p style="font-size: 20; color: green;" th:utext="${successMessage}"></p>
		</div>

		<form method="post" th:action="@{/profile/changepassword}"
			class="form-signin">

			<br /> <input type="password" id="password" name="password"
				placeholder="New Password" class="form-control" required /> <br />

			<input type="password" placeholder="Confirm Password"
				id="confirmPassword" name="confirmPassword" class="form-control"
				required /> <br />

			<div align="center" th:if="${errorMessage}">
				<p style="font-size: 20; color: #FF1C19;" th:utext="${errorMessage}"></p>
			</div>

			<button class="btn btn-lg btn-primary btn-block" name="Submit"
				value="Login" type="Submit" th:text="Login"></button>
			
		</form>

	</div>

	</main>
	<!-- /.container -->

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
		integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
		integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
		crossorigin="anonymous"></script>

</body>
</html>
